.emptybasket{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.info__empty{
    text-align: center;
    margin-left: 10%;
}
.info__empty>h2{
    text-transform: capitalize;
    color: rgb(217, 112, 243);
    font-size: 2rem;
}
.info__empty>p{
    text-transform: capitalize;
    font-weight: 600;
    color: rgb(70, 68, 66);
    margin: 5% 0;
}
.info__empty >a> button{
    background-color: rgb(39, 177, 124);
    color: white;
    border: none;
    outline: none;
    border-radius: 5%;
    padding: 3% 5%;
    font-size: 1.2rem;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 500;
}
.empty__logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.empty__logo > img{
    width: 60%;
    object-fit: contain;
}
@media only screen and (max-width: 555px){
    .emptybasket{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .info__empty{
        text-align: center;
        margin-left: 2%;
    }
    .info__empty>h2{
        text-transform: capitalize;
        color: rgb(217, 112, 243);
        font-size: 1.5rem;
    }
    .info__empty>p{
        text-transform: capitalize;
        font-weight: 500;
        color: rgb(70, 68, 66);
        margin: 5% 0;
    }
    .info__empty >a> button{
        background-color: rgb(39, 177, 124);
        color: white;
        border: none;
        outline: none;
        border-radius: 5%;
        padding: 3% 5%;
        font-size: 1rem;
        text-transform: capitalize;
        cursor: pointer;
        font-weight: 500;
    }
    .empty__logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .empty__logo > img{
        width: 60%;
        object-fit: contain;
    }
}
@media only screen and (max-width: 400px){
    .emptybasket{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .info__empty{
        text-align: center;
        margin-left: 2%;
    }
    .info__empty>h2{
        text-transform: capitalize;
        color: rgb(217, 112, 243);
        font-size: 1.5rem;
    }
    .info__empty>p{
        text-transform: capitalize;
        font-weight: 500;
        color: rgb(70, 68, 66);
        margin: 5% 0;
        font-size: 0.9rem;
    }
    .info__empty >a> button{
        background-color: rgb(39, 177, 124);
        color: white;
        border: none;
        outline: none;
        border-radius: 5%;
        padding: 3% 10%;
        font-size: 1rem;
        text-transform: capitalize;
        cursor: pointer;
        font-weight: 500;
    }
    .empty__logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .empty__logo > img{
        width: 60%;
        object-fit: contain;
    }
}
