@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
.banner__container{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding-top: 5%;
}
.bannerlogo{
    width: 100%;
}
.button__container{
    flex: 3;
  

}
.button__container > h1{
    text-transform: uppercase;
    color: rgb(29, 28, 28);
    font-family: 'Rock Salt', cursive;
    letter-spacing: 7px;
}
.button__container > a > button{
    margin-top: 3%;
    outline: none;
    border: black solid 2px;
    color: black;
    background-color: transparent;
    padding:1% ;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}
.button__container > a > button:hover{
    background-color: black;
    color: white;
}
.banner__logo{
    flex: 2;
}

@media only screen and (max-width: 770px){
    .banner__container{
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        padding-top: 1%;
        height: 100vh;
    }
   
    .button__container{
        flex: 2;
      
    
    }
    .button__container > h1{
        text-transform: uppercase;
        color: rgb(29, 28, 28);
        font-family: 'Rock Salt', cursive;
        letter-spacing: 7px;
        font-size: 1.3rem;
    }
    .button__container > a > button{
        margin-top: 3%;
        outline: none;
        border: black solid 2px;
        color: black;
        background-color: transparent;
        padding:1% ;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
    }
    
    .banner__logo{
        flex: 2;
    }
    
}
@media only screen and (max-width: 350px){
    .banner__container{
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
        padding-top: 20% !important;
        height: 100vh;
        width: 100%;
        background-color: rgb(255, 255, 255);
    }
   
    .button__container{
        flex: 1;
      
    
    }
    .button__container > h1{
        text-transform: uppercase;
        color: rgb(29, 28, 28);
        font-family: 'Rock Salt', cursive;
        letter-spacing: 2px;
        font-size: 0.9rem;
    }
    .button__container > a > button{
        margin-top: 3%;
        outline: none;
        border: black solid 1px;
        color: black;
        background-color: transparent;
        padding:2% ;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
    }
    
    .banner__logo{
        flex: 1 !important;
    }
    
}
@media only screen and (max-width: 450px){
    .banner__container{
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
        padding-top: 10%;
        height: 100vh;
    }
   
    .button__container{
        flex: 1;
      
    
    }
    .button__container > h1{
        text-transform: uppercase;
        color: rgb(29, 28, 28);
        font-family: 'Rock Salt', cursive;
        letter-spacing: 2px;
        font-size: 1rem;
    }
    .button__container > a > button{
        margin-top: 3%;
        outline: none;
        border: black solid 1px;
        color: black;
        background-color: transparent;
        padding:2% ;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
    }
    
    .banner__logo{
        flex: 2 ;
    }
    
}